 //fonts 
$font-header:'Abril Fatface', cursive;
$font-main: 'Cinzel', serif;
$font-main_2: 'PT Serif', serif;


//colors

$text-headlines: #304C0B;
$white: white;
$nav-text: rgb(129, 129, 129);
$dark: black;
